
.main-header .logo {
  font-family: “Courier New”, Courier, monospace;
  font-weight: bold;
  font-size: 18px;
}
.main-sidebar {
  font-family: “Courier New”, Courier, monospace;
}

p {
  font-family: “Courier New”, Courier, monospace;
  font-size: 13px;
}

h2 {
  font-family: “Courier New”, Courier, monospace;
}
 
h3 {
  font-family: “Courier New”, Courier, monospace;
  font-size: 14px;
}

.irs-grid {
  font-family: “Courier New”, Courier, monospace;
}

.irs-min {
  font-family: “Courier New”, Courier, monospace;
}

.irs-single {
  font-family: “Courier New”, Courier, monospace;
}

.irs-max {
  font-family: “Courier New”, Courier, monospace;
}

.control-label {
  font-family: “Courier New”, Courier, monospace;
}

.item {
  font-family: “Courier New”, Courier, monospace;
}

.selectize-dropdown {
  font-family: “Courier New”, Courier, monospace;
}

.help-block {
  font-family: “Courier New”, Courier, monospace;
}
